{% extends 'blog/base.html' %}

{% block title %}

    {% with posts|first as post %}
        <title>{{post.author.username | title}} Posts</title>
    {% endwith %}

{% endblock title %}

{% block content %}
  <ul>
    {% for post in posts %}
      <article class="media content-section">
        <img class="rounded-circle account-img" src="{{post.author.profile.image.url}}">
        <div class="media-body">
          <h2>
            <a class="article-title" href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a>
          </h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}

  </ul>
{% endblock content %}
